*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(240, 237, 237);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

/* Template styles */

#skiptocontent a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #bf1722;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 100;
}

#skiptocontent a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  outline-color: transparent;
  -webkit-transition: top 0.1s ease-in;
  transition: top 0.1s ease-in;
}

@media (prefers-reduced-motion: reduce) {
  #skiptocontent a {
    transition-duration: 0.001ms !important;
  }
}

.content {
  height: 200vh;
  background-image: url(//unsplash.it/2000/2000);
  background-color: rgb(240, 233, 233);
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

header {
  background: rgb(74, 74, 194);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 1px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: rgb(70, 70, 95);
  width: 100%;
  transform: scale(1, 0);
  transition: transform 400ms ease-in-out;
  /* transform-origin: top;*/
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: rgb(54, 40, 40);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    all: unset;

    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::after {
    content: "";
    display: block;
    height: 2px;
    background: black;
    /* position: absolute; */
    left: 0;
    right: 0;
    transform: scale(0, 2);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::after {
    transform: scale(1, 1);
  }
}
